*{
    margin: 0;
    padding: 0;
}
.content{
    background-image: url('https://img.freepik.com/free-photo/gray-sofa-white-living-room-interior-with-copy-space-3d-rendering_43614-802.jpg?w=1380&t=st=1684477074~exp=1684477674~hmac=2e42a96ddf843504d6ffe9d13eb41e5df6e70316c9a1f86dbb5834f171ad6a41');
    background-repeat: no-repeat;
    height: 800px;
    background-size: 1800px 850px;
}
.logo{
    font-size: x-large;
    margin-left:50px;
    color: darkorange;
}
.navbar{
    display: flex;
    gap: 600px;
    align-items: center;
    background-color:white;
    height: 100px;
    
}
.navlinks{
    display: flex;
    list-style: none;
    gap:100px;
    font-size: x-large;
}
.header{
    margin-left: 100px;
    margin-top: 100px;
   font-size: larger;
}
.header p{
    margin-top: 30px;
}
.header button{
    margin-top: 30px;
    padding:15px 35PX;
    border-radius: 5px;
    border: none;
    background-color: darkorange;
}
i{
    color:#696969;
    
}
#advantages{
    text-align: center;
    padding-top: 40px;
    font-size:xx-large;

}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding-top: 30px;
    font-size:x-large;
}
h4{
    padding-top: 10px;
}
.about{
    display: flex;
    padding-top: 80px;
    justify-content: space-around;
    text-align: center;
}
.about-ft{
    display: flex;
    margin-top: 100px;
    padding: 20px 200px;
    gap:40px;
    text-align: center;
    justify-content: space-around;
    background-color:darkorange;
    align-items: center;
}
.about-content{
    margin-top: 60px;
    line-height: 33px;
}
#gallery-img{
    width: 1000px;
}
.gallery{
    display: flex;
    margin-top:150px;
    gap:30px;
    line-height: 42px;
    
}
.side img{
    width: 700px;
    height: 335px;
}
.gallery-content{
    text-align: center;
    font-size: larger;
   
}
button{
    padding:15px 25PX;
    border-radius: 5px;
    border-color:darkorange;
    border-style: solid;
    background-color: white;
    margin: 30px;
    
    
}